@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FluentUI3Sample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>
*@

<FluentNavMenuTree Width="150">
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.Home())"
                       Text="Home"
                       Href="/" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.Calculator())"
                       Text="Counter"
                       Href="counter" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.Database())"
                       Text="Fetch data"
                       Href="fetchdata" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.Icons())"
                       Text="AutoComplete"
                       Href="CompleteExa" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.Icons())"
                       Text="GridButton"
                       Href="gridbutton" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.Icons())"
                       Text="GridColor"
                       Href="gridcolor" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.Icons())"
                       Text="GridChange"
                       Href="gridchange" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.Icons())"
                       Text="GridLongContents"
                       Href="gridlongcontents" />
    <FluentNavMenuLink Icon="@(new Icons.Regular.Size24.Icons())"
                       Text="GridLongTitle"
                       Href="gridlongtitle" />

</FluentNavMenuTree>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
